/* ┌────────┐
   │  FONT  │
   └────────┘ */

@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&family=Turret+Road:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

h2 {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;

}

p {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


/* ┌─────────┐
   │  RESET  │
   └─────────┘ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ┌────────┐
   │  PAGE  │
   └────────┘ */



html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 90px;
}

body {
    background-color: var(--preto);
    color: var(--texto);
    overflow-x: hidden;
}

/* ┌──────────┐
   │  COLORS  │
   └──────────┘ */

:root {
    --preto: #000000;
    --ancora: #ffe959;
    --hover: #827000;
    --texto: #fffae4;
    --footer: #edc513;
    --cardfooter: #0000004a;
}

/* ┌───────┐
   │  NAV  │
   └───────┘ */

.navbar {
    background-color: var(--preto);
    width: 100%;
    height: 10vh;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    position: fixed;

}

.navlinks a {
    color: var(--ancora);
    text-decoration: none;
    margin: 0 8px;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    display: inline-block;
    transition: ease 1s;

}

.navlinks a:hover {
    transform: translateY(-5px);
    color: var(--hover);
}

.logo img {
    height: 40px;
    transition: ease 1s;
}

.logo img:hover {
    transform: translateY(-5px);
}

/* ┌────────┐
   │  HEAD  │
   └────────┘ */

.hero-banner {
    position: relative;
    height: 80vh;
    overflow: hidden;
    margin-bottom: 200px;
}

.hero-banner img {
    filter: brightness(60%) contrast(115%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.46);
    z-index: 1;
}

.hero-txt {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--texto);
}

.hero-txt h1 {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.hero-txt {
    font-size: 20px;
}