/* ┌────────┐
   │  FONT  │
   └────────┘ */

@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&family=Turret+Road:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

h2 {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;

}

p {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


/* ┌─────────┐
   │  RESET  │
   └─────────┘ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ┌────────┐
   │  PAGE  │
   └────────┘ */



html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 90px;
}

body {
    background-color: var(--preto);
    color: var(--texto);
    overflow-x: hidden;
}

/* ┌──────────┐
   │  COLORS  │
   └──────────┘ */

:root {
    --preto: #000000;
    --ancora: #ffe959;
    --hover: #827000;
    --texto: #fffae4;
    --footer: #edc513;
    --cardfooter: #0000004a;
}

/* ┌───────┐
   │  NAV  │
   └───────┘ */

.navbar {
    background-color: var(--preto);
    width: 100%;
    height: 10vh;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    position: fixed;

}

.navlinks a {
    color: var(--ancora);
    text-decoration: none;
    margin: 0 8px;
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    display: inline-block;
    transition: ease 1s;

}

.navlinks a:hover {
    transform: translateY(-5px);
    color: var(--hover);
}

.logo img {
    height: 40px;
    transition: ease 1s;
}

.logo img:hover {
    transform: translateY(-5px);
}

/* ┌────────┐
   │  HEAD  │
   └────────┘ */

.hero-banner {
    position: relative;
    height: 80vh;
    overflow: hidden;
    margin-bottom: 200px;
}

.hero-banner img {
    filter: brightness(60%) contrast(115%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.46);
    z-index: 1;
}

.hero-txt {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--texto);
}

.hero-txt h1 {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.hero-txt {
    font-size: 20px;
}

/* ┌────────────┐
   │  Problema  │
   └────────────┘ */
.problema {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    margin-bottom: 300px;
}

.problema h2 {
    z-index: 3;
    width: 68%;
    margin-bottom: -11px;
    font-size: 80px;
    text-align: left;
}

.problema-video {
    position: relative;
    border-radius: 0 50px 0 50px;
    overflow: hidden;
}

.problema-video video {
    filter: brightness(60%) contrast(115%);
    width: 100%;
    min-width: 70vw;
    height: 65vh;
    object-fit: cover;
}

.problema-video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.347);
    z-index: 1;
}

.problema-txt {
    position: absolute;
    inset: 0;
    z-index: 2;
}

.problema p {
    box-shadow: var(--preto);
    font-size: 25px;
}

.problema-p1 {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 60%;
    text-align: left;
}

.problema-p2 {
    position: absolute;
    bottom: 30px;
    right: 40px;
    width: 60%;
    text-align: right;
}

/* ┌──────────────┐
   │  Tecnologia  │
   └──────────────┘ */

.tecnologia {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tecnologia-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 3;
    margin: 0 auto;
}

.tecnologia-txt h2 {
    font-size: 4rem;
    width: 80%;
    margin: 0 auto 20px;

}

.tecnologia-txt p {
    font-size: 25px;
    margin: 0 auto 20px;
    text-align: center;


}

.tecnologia img {
    width: 40vw;
    filter: contrast(115%);
}


.satelite1 {
    position: absolute;
    top: 10px;
    left: -90px;
    z-index: 1;
    animation: flutuar1 4s ease-in-out infinite;
}

.satelite2 {
    transform: rotate(180deg);
    position: absolute;
    bottom: -10px;
    right: -90px;
    z-index: 1;
    animation: flutuar2 4s ease-in-out infinite;
}

.satelite1::before,
.satelite2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.529);
    z-index: 2;
}

@keyframes flutuar1 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes flutuar2 {

    0% {
        transform:
            rotate(180deg) translateY(-15px);
    }

    50% {
        transform:
            rotate(180deg) translateY(0px);
    }

    100% {
        transform:
            rotate(180deg) translateY(-15px);
    }

}
